<html>
  <head>
    <title>Connexion</title>
  </head>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  <body class="text-white ">

<center><h1>Connecte toi : </h1>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Email/Username' %>
      <%= text_field_tag 'username' %>
      <br /> <br />




      <%= label_tag 'Mot de passe' %>
      <%= text_field_tag 'password'%>
      <br /> <br />


      <%= submit_tag "Valider" %>
<div><%= flash[:danger] %></div>
    <% end %>

    <br/></center>
