<html>
<body class="gossip text-white">
<% 10.times do %>
<br/>
<% end %>

<center>
	<% g = Gossip.find(params[:id]) %>

<div class="container">
<div class="row">

<div class=" col ">
  <p> Créateur : </p>
<h1>  <a class="text-white" <%= link_to g.user.first_name, user_path(g.user.id) %>  </a></h1>
<br/>
<a class="text-white" <%=link_to g.user.city.name, city_path(g.user.city.id)  %> </a>
<br/>

  <div class="card-header  card text-white    ">
    <h3> Titre : <%= g.title %> </h3>
	<h2><p class="text-dark">	<%= g.content%> </p></h2>
  <p> Date de création : <%= g.created_at%> </p>
  <br/>
  <br/>
</div>
</div>
</div>
</div>
<!--	<a href="/edit/gossip/<%= params[:id]%>">Modifier</a> -->
<br/>
<button type="button" class="btn btn-dark"><a class="text-white" <%= link_to "Modifier", edit_gossip_path(g.id) %></a></button>

<button type="button" class="btn btn-dark"><a class="text-white"<%= link_to 'Supprimer',
             gossip_path(g.id),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>  </button>
												 <br/>
												 <br/>
<button type="button" class="btn btn-dark"><a class="text-white" <%= link_to "Retour", gossips_path %></a></button>
	<br/>
	<br/>
	<br/>
<h2 class="text-white"> Commentaire </h2>
<% g.comments.each do |comment| %>
<div class="container">
<div class="row">

<div class=" col ">
<br/>
<br/>
<div class="card-header  card text-dark    ">
 <strong><%= comment.user.first_name %></strong>
<%= comment.content %>
  <br/>
  <br/>
</div>
</div>
</div>
</div>
<button type="button" class="btn btn-dark"><a class="text-white" <%= link_to "Modifier", edit_comment_path(comment.id) %></a></button>

<button type="button" class="btn btn-dark"><a class="text-white"<%= link_to 'Supprimer',
						 comment_path(comment.id),
												 method: :delete,
												 data: { confirm: 'Are you sure?' } %>  </button>
												 <br/>
												 <br/>
<% end %>
	Ecrit ton commentaire ici :
	<%= form_tag url_for(controller: 'comment',action: 'create', method: "post") do %>


		<%= label_tag 'Commentaire' %>
		<%= text_field_tag 'commentaire' %>
		<br /> <br />

		<%= hidden_field_tag 'id', params[:id] %>
		<br /> <br />

		<%= submit_tag "Valider" %>

	<% end %>




</body>
</html>
