
 <body>
   <% c = City.find(params[:id]) %>
   <center><h1 class="text-white"><%= c.name %></h1></center>
   <%  c.users.all.each do |user| %>
      <% user.gossips.all.each do |gossip| %>


  <div class="container">
    <div class="row">

  <div class=" col-md-5 ">
    <div class="card-header bg-dark card text-white     ">

         Titre : <br/> <h2><a class="text-white"  <%= link_to gossip.title, gossip_path(gossip.id) %> </a><br/> </h2>
Autheur :<h2><a class="text-white" <%= link_to user.first_name, user_path(user.id) %> </a></h2>

<h6><%= gossip.likes.count %> likes</h6>
<%  current_user.likes.each do |like| %>
<% if like.gossip.id == gossip.id %>
<% @l = like.id %>
<% @true = 1 %>
<% else %>
<% @check = 0 %>
<% end %>
<% end %>
<% if @true != 1 %>
<a class=" btn btn-light" <%= link_to "Like", like_index_path(:id => gossip.id), :method => :post %></a>
<% else %>
<a class=" btn btn-light" <%= link_to "Unlike", like_path(@l), :method => :delete %></a>
<% end %>
<% @true = 0 %>
<% @check = 1 %>
          </div>
          </div>
          </div>
          </div>
        <% end %>
        <% end %>
