<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files
          as needed -->
    <script src="js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand "  <%= link_to "Acceuil", gossips_path %></a>
  <a class="navbar-brand"  <%= link_to "Contact", contacts_path%></a>
  <a class="navbar-brand"  <%= link_to "Team", teams_path%></a>
  <div class="dropdown navbar-nav ml-auto mr-5  ">



      <% if current_user %>
      <a class="dropdown-item" <%= link_to  current_user.first_name , user_path(current_user.id) %> </a>
      <a class="dropdown-item" <%= link_to "Se déconnecter", session_path(session.id), method: :delete %></a>

      <% else %>
      <a class="dropdown-item" <%= link_to "Crée un compte", new_user_path %></a>
      <a class="dropdown-item" <%= link_to "Se connecter", new_session_path %></a>
      <% end %>

    </div>
    <div class="dropdown navbar-nav ml-auto mr-5  ">
      <button class="btn btn-secondary   dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <% if current_user %>
        <%= current_user.first_name %>
      <% else %>
      Connexion
        <% end %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if current_user %>
        <a class="dropdown-item" <%= link_to "Se déconnecter", session_path(session.id), method: :delete %></a>
        <a class="dropdown-item" <%= link_to "Voir mon profil", user_path(current_user.id) %> </a>
        <% else %>
        <a class="dropdown-item" <%= link_to "Crée un compte", new_user_path %></a>
        <a class="dropdown-item" <%= link_to "Login", new_session_path %></a>
        <% end %>
      </div>
    </div>

        </nav>



    <%= yield %>
  </body>
</html>
